div.svelte-lx9eee {
  background-image: radial-gradient(#30201e, #131518 50%);
}
nav.svelte-1ch6zct {
  bottom: -4.5rem;
}
@media (min-width: 744px) {
  nav.svelte-1ch6zct {
    bottom: 2rem;
  }
}
@media (min-width: 1440px) {
  nav.svelte-1ch6zct {
    bottom: 3.5rem;
  }
}
aside.svelte-1bdsmbr:after {
  content: "";
  --eclipse-width: calc(var(--eclipse-radius) / 2);
  position: absolute;
  height: 100dvh;
}
.open.svelte-1bdsmbr {
  animation: svelte-1bdsmbr-open-menu var(--closing-anim-duration)
    cubic-bezier(0.26, 0.91, 0.7, 1) forwards;
}
.open.svelte-1bdsmbr:after {
  animation: svelte-1bdsmbr-open-menu-after var(--closing-anim-duration)
    cubic-bezier(0.26, 0.91, 0.7, 1) forwards;
}
.closed.svelte-1bdsmbr {
  animation: svelte-1bdsmbr-open-menu-reverse var(--closing-anim-duration)
    cubic-bezier(0.26, 0.91, 0.7, 1) forwards;
}
.closed.svelte-1bdsmbr:after {
  animation: svelte-1bdsmbr-open-menu-after-reverse var(--closing-anim-duration)
    cubic-bezier(0.26, 0.91, 0.7, 1) forwards;
}
.content-closing.svelte-1bdsmbr {
  translate: 0 0;
  filter: blur(0);
  opacity: 1;
  animation: svelte-1bdsmbr-content-fade-out
    var(--content-closing-anim-duration) cubic-bezier(0.26, 0.91, 0.7, 1)
    forwards;
}
@keyframes svelte-1bdsmbr-open-menu {
  0% {
    width: 0;
  }
  to {
    width: var(--length);
  }
}
@keyframes svelte-1bdsmbr-open-menu-reverse {
  0% {
    width: var(--length);
  }
  to {
    width: 0;
  }
}
@keyframes svelte-1bdsmbr-open-menu-after {
  0% {
    clip-path: ellipse(0 100dvh at 0 center);
    width: 0;
    left: 0;
  }
  to {
    clip-path: ellipse(
      var(--eclipse-radius) 100dvh at var(--eclipse-radius) center
    );
    width: var(--eclipse-width);
    left: calc(var(--eclipse-width) / 2 * -1);
  }
}
@keyframes svelte-1bdsmbr-open-menu-after-reverse {
  to {
    clip-path: ellipse(0 100dvh at 0 center);
    width: 0;
    left: 0;
  }
  0% {
    clip-path: ellipse(
      var(--eclipse-radius) 100dvh at var(--eclipse-radius) center
    );
    width: var(--eclipse-width);
    left: calc(var(--eclipse-width) / 2 * -1);
  }
}
@keyframes svelte-1bdsmbr-content-fade-out {
  to {
    translate: 20% 0;
    opacity: 0;
  }
}
aside.svelte-1bre37e:after {
  content: "";
  --eclipse-width: calc(var(--eclipse-radius) / 2);
  position: absolute;
  height: 100dvh;
  scale: -1 1;
}
.open.svelte-1bre37e {
  animation: svelte-1bre37e-open-menu var(--closing-anim-duration)
    cubic-bezier(0.26, 0.91, 0.7, 1) forwards;
}
.open.svelte-1bre37e:after {
  animation: svelte-1bre37e-open-menu-after var(--closing-anim-duration)
    cubic-bezier(0.26, 0.91, 0.7, 1) forwards;
}
.closed.svelte-1bre37e {
  animation: svelte-1bre37e-open-menu-reverse var(--closing-anim-duration)
    cubic-bezier(0.26, 0.91, 0.7, 1) forwards;
}
.closed.svelte-1bre37e:after {
  animation: svelte-1bre37e-open-menu-after-reverse var(--closing-anim-duration)
    cubic-bezier(0.26, 0.91, 0.7, 1) forwards;
}
.content-closing.svelte-1bre37e {
  translate: 0 0;
  filter: blur(0);
  opacity: 1;
  animation: svelte-1bre37e-content-fade-out
    var(--content-closing-anim-duration) cubic-bezier(0.26, 0.91, 0.7, 1)
    forwards;
}
@keyframes svelte-1bre37e-open-menu {
  0% {
    width: 0;
  }
  to {
    width: var(--length);
  }
}
@keyframes svelte-1bre37e-open-menu-reverse {
  0% {
    width: var(--length);
  }
  to {
    width: 0;
  }
}
@keyframes svelte-1bre37e-open-menu-after {
  0% {
    clip-path: ellipse(0 100dvh at 0 center);
    width: 0;
    right: 0;
  }
  to {
    clip-path: ellipse(
      var(--eclipse-radius) 100dvh at var(--eclipse-radius) center
    );
    width: var(--eclipse-width);
    right: calc(var(--eclipse-width) / 2 * -1);
  }
}
@keyframes svelte-1bre37e-open-menu-after-reverse {
  to {
    clip-path: ellipse(0 100dvh at 0 center);
    width: 0;
    right: 0;
  }
  0% {
    clip-path: ellipse(
      var(--eclipse-radius) 100dvh at var(--eclipse-radius) center
    );
    width: var(--eclipse-width);
    right: calc(var(--eclipse-width) / 2 * -1);
  }
}
@keyframes svelte-1bre37e-content-fade-out {
  to {
    translate: -20% 0;
    opacity: 0;
  }
}
input.svelte-7xf8q {
  position: absolute;
  left: -200dvw;
}
footer.svelte-e32dru {
  margin-top: calc(var(--eclipse-height) + 5dvh);
}
footer.svelte-e32dru:before {
  --eclipse-radius: calc(5dvh + var(--max-radius) * var(--scroll-progress));
  content: "";
  position: absolute;
  width: 100%;
  top: calc(var(--eclipse-height) / 2 * -1);
  left: 0;
  height: var(--eclipse-height);
  clip-path: ellipse(
    100% var(--eclipse-radius) at center var(--eclipse-radius)
  );
  z-index: -1;
}
ul.svelte-e32dru {
  list-style: none;
}

.disable_list {
  cursor: not-allowed !important;
}

div.svelte-1eovz1i {
  pointer-events: none;
  position: absolute;
  left: 1.25rem;
  top: 50%;
  z-index: 120;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 0.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.26, 0.91, 0.7, 1);
}
aside.svelte-rhbmpc {
  --ellipse-height: 10dvh;
  margin-bottom: var(--ellipse-height);
}
aside.svelte-rhbmpc:after {
  content: "";
  position: absolute;
  width: 100dvw;
  bottom: calc(var(--ellipse-height) * -1 / 2);
  height: var(--ellipse-height);
  left: 0;
}
.open.svelte-rhbmpc,
.closed.svelte-rhbmpc {
  transform: translateZ(0);
  will-change: height;
}
.open.svelte-rhbmpc:after,
.closed.svelte-rhbmpc:after {
  will-change: height, bottom;
}
.open.svelte-rhbmpc {
  animation: svelte-rhbmpc-open-menu var(--anim-duration)
    cubic-bezier(0.26, 0.91, 0.7, 1) forwards;
}
.open.svelte-rhbmpc:after {
  animation: svelte-rhbmpc-open-menu-after var(--anim-duration)
    cubic-bezier(0.26, 0.91, 0.7, 1) -0.1s forwards;
}
.closed.svelte-rhbmpc {
  animation: svelte-rhbmpc-open-menu-reverse var(--anim-duration)
    cubic-bezier(0.26, 0.91, 0.7, 1) forwards;
}
.closed.svelte-rhbmpc:after {
  animation: svelte-rhbmpc-open-menu-after-reverse var(--anim-duration)
    cubic-bezier(0.26, 0.91, 0.7, 1) -0.1s forwards;
}
@keyframes svelte-rhbmpc-open-menu {
  0% {
    height: 0;
  }
  to {
    height: var(--menu-height);
  }
}
@keyframes svelte-rhbmpc-open-menu-after {
  0% {
    clip-path: ellipse(100% 100% at center 100%);
  }
  to {
    clip-path: ellipse(closest-side farthest-side);
  }
}
@keyframes svelte-rhbmpc-open-menu-reverse {
  0% {
    height: var(--menu-height);
  }
  to {
    height: 0;
  }
}
@keyframes svelte-rhbmpc-open-menu-after-reverse {
  0% {
    clip-path: ellipse(closest-side farthest-side);
  }
  to {
    translate: 0 -100%;
    clip-path: ellipse(100% 100% at center 100%);
  }
}
.img-container.svelte-9nz9lr {
  display: inline-block;
  position: relative;
  background: linear-gradient(180deg, #13151800, #131518e6 93.54%);
}
div.svelte-1nujjqk {
  pointer-events: none;
  position: absolute;
  left: 1.25rem;
  top: 0.75rem;
  z-index: 120;
  border-radius: 0.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.26, 0.91, 0.7, 1);
}
.marker.svelte-1kjb0dn:after {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -10;
  aspect-ratio: 1 / 1;
  width: 115%;
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: inherit;
  content: var(--tw-content);
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #ef3340 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(239 51 64 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #f58220 var(--tw-gradient-to-position);
}
.marker.svelte-1kjb0dn:before {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -10;
  aspect-ratio: 1 / 1;
  width: 150%;
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: inherit;
  opacity: 0.2;
  content: var(--tw-content);
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #ef3340 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(239 51 64 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #f58220 var(--tw-gradient-to-position);
}
.line-bg.svelte-1jhmpvl:before {
  content: "";
  position: absolute;
  z-index: -10;
  width: 2px;
  height: 100%;
  left: 50%;
  translate: -50% 0;
  filter: blur(12px);
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #ef3340 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(239 51 64 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #f58220 var(--tw-gradient-to-position);
}
.text.svelte-11ll79o.svelte-11ll79o {
  translate: 0 -100%;
}
button:hover + div.svelte-11ll79o .text.svelte-11ll79o {
  animation: reset-translate-filter 0.3s cubic-bezier(0.26, 0.91, 0.7, 1) 0.1s
    forwards;
}
.shadow.svelte-1jhpuzw.svelte-1jhpuzw {
  display: block;
  position: absolute;
  top: -150px;
  right: -150px;
  bottom: -150px;
  left: -150px;
  border: 150px solid transparent;
  border-radius: inherit;
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.shadow.svelte-1jhpuzw.svelte-1jhpuzw:before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: inherit;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.26, 0.91, 0.7, 1);
}
.cursor-primary.svelte-1jhpuzw .shadow.svelte-1jhpuzw:before {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #ef3340 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(239 51 64 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #f58220 var(--tw-gradient-to-position);
}
.cursor-primary.cursor-interactable.svelte-1jhpuzw
  .shadow.svelte-1jhpuzw:before,
.cursor-primary.cursor-interactable-icon.svelte-1jhpuzw.svelte-1jhpuzw {
  box-shadow: 0 0 10px #f58220;
}
.cursor-primary.cursor-interactable-icon.svelte-1jhpuzw.svelte-1jhpuzw {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #ef3340 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(239 51 64 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #f58220 var(--tw-gradient-to-position);
}
.cursor-secondary.svelte-1jhpuzw .shadow.svelte-1jhpuzw:before {
  --tw-bg-opacity: 1;
  background-color: rgb(19 21 24 / var(--tw-bg-opacity));
}
.cursor-secondary.cursor-interactable.svelte-1jhpuzw
  .shadow.svelte-1jhpuzw:before,
.cursor-secondary.cursor-interactable-icon.svelte-1jhpuzw.svelte-1jhpuzw {
  box-shadow: 0 0 10px #131518;
}
.cursor-secondary.cursor-interactable-icon.svelte-1jhpuzw.svelte-1jhpuzw {
  --tw-bg-opacity: 1;
  background-color: rgb(19 21 24 / var(--tw-bg-opacity));
}
div.svelte-1q5ij {
  transition: all 0.5s cubic-bezier(0.26, 0.91, 0.7, 1);
}
.dark-fade-in.svelte-1q5ij {
  animation: svelte-1q5ij-darken 0.5s cubic-bezier(0.26, 0.91, 0.7, 1) forwards;
}
.dark-fade-out.svelte-1q5ij {
  animation: svelte-1q5ij-darken-reverse 0.5s cubic-bezier(0.26, 0.91, 0.7, 1)
    forwards;
}
@keyframes svelte-1q5ij-darken {
  0% {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
@keyframes svelte-1q5ij-darken-reverse {
  to {
    opacity: 0;
  }
  0% {
    opacity: 0.8;
  }
}
.page-transition-cover.svelte-cvol1n {
  animation: svelte-cvol1n-open-page-transition-cover var(--anim-duration)
      cubic-bezier(0.26, 0.91, 0.7, 1) forwards,
    svelte-cvol1n-open-page-transition-cover-reverse var(--anim-duration)
      cubic-bezier(0.26, 0.91, 0.7, 1)
      calc(var(--anim-delay) + var(--anim-duration)) forwards;
}
.page-transition-cover.svelte-cvol1n:after {
  content: "";
  position: absolute;
  width: 100dvw;
  height: 15dvh;
  bottom: 0;
  left: 0;
  clip-path: ellipse(closest-side farthest-side);
  animation: svelte-cvol1n-open-page-transition-cover-after
      calc(var(--anim-duration) / 2) cubic-bezier(0.26, 0.91, 0.7, 1) forwards,
    svelte-cvol1n-open-page-transition-cover-after-reverse
      calc(var(--anim-duration) / 2) cubic-bezier(0.26, 0.91, 0.7, 1)
      calc(var(--anim-delay) + var(--anim-duration)) forwards;
}
@keyframes svelte-cvol1n-open-page-transition-cover {
  0% {
    height: 0;
  }
  to {
    height: 100dvh;
  }
}
@keyframes svelte-cvol1n-open-page-transition-cover-reverse {
  0% {
    top: 0;
  }
  to {
    top: 100vh;
  }
}
@keyframes svelte-cvol1n-open-page-transition-cover-after {
  0% {
    bottom: 0;
  }
  to {
    bottom: -7dvh;
  }
}
@keyframes svelte-cvol1n-open-page-transition-cover-after-reverse {
  0% {
    top: -7dvh;
  }
  to {
    top: 0;
  }
}
article.svelte-12ucgne {
  transition-timing-function: cubic-bezier(0.26, 0.91, 0.7, 1);
  visibility: hidden;
  transition: visibility 1s, scale 1s, opacity 0.5s;
  scale: 0;
  opacity: 0;
}
.toast-open.svelte-12ucgne {
  opacity: 1;
  visibility: visible;
  scale: 1;
}
.toast-close-button.svelte-12ucgne {
  background-position: 6ch 0;
  background-size: 25ch 100%;
}
div.svelte-hddzt0 {
  justify-content: inherit;
}
